.list-group-item {
    position: relative;
    padding-left: 1.25rem !important;
     /* Ensure consistent padding */
  }
  
  .list-group-item-action.active {
    color: #fff;
    background-color: #0d6efd; /* Bootstrap primary color */
    border-color: #0d6efd;
  }
  
  .main{
    margin-left: 10px !important;
  }